<mat-card>
  <mat-card-title style="background-color:#3f51b5;padding:5px; 
  border:1px #3f51b5; border-radius: 2px; color: white;">
    Login</mat-card-title>

  <mat-card>

    <mat-card-content>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
        <table>

          <tr>
            <td colspan="2">
              <mat-form-field class="demo-full-width">
                <input type="email" id="email" name="email" matInput placeholder="Email" formControlName="email">
              </mat-form-field>
            </td>

          </tr>
          <tr>
            <td colspan="2">
              <mat-form-field class="demo-full-width">
                <input type="password" id="password" name="password" matInput placeholder="Password"
                  formControlName="password">
              </mat-form-field>
            </td>


          </tr>

          <tr>
            <td colspan="2" class="content-center">
              <a mat-button routerLink="/signup" >Don't have an account?</a>

              <button mat-raised-button color="accent" type="submit" [disabled]="!userForm.valid">Submit</button>
            </td>
          </tr>
        </table>
      </form>
    </mat-card-content>
  </mat-card>
  <div id="myModal" class="modal" [ngStyle]="modalStyle">

    <!-- Modal content -->
    <div class="modal-content">
      <p>{{errorText}}</p>
      <div class="button">
        <button (click)="closeModal()" mat-raised-button color="danger">Cancel</button>
      </div>
    </div>

  </div>
