

<mat-card>    
    <!-- Title of an Card -->    
    <mat-card-title>    
        Add Employee   
    </mat-card-title>    
    
    <mat-card-content>    
        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" novalidate>    
            <table>    
                <tr>    
                    <td>    
                        <mat-form-field class="demo-full-width">    
                            <input matInput type="text" id="fullName" name="fullName" formControlName="fullName"
                            placeholder="Name"
                            >  
                        </mat-form-field>    
                    </td>  
                    <td>    
                        <mat-form-field class="demo-full-width">    
                            <input matInput type="text" id="contact" name="contact" formControlName="contact"
                            placeholder="Contact Number"
                            > 
                        </mat-form-field>    
                    </td>      
                </tr> 
                <tr>    
                    <td>    
                        <mat-form-field class="demo-full-width">    
                            <input type="text" id="email" name="email" 
                            matInput placeholder="Email"
                            formControlName="email">   
                        </mat-form-field>    
                    </td>      
                    <td>   
                        <mat-form-field>    
                            <mat-select [(ngModel)]="deptName" id="department" name="department" formControlName="department" placeholder="Select Department">    
                                <mat-option>-- Select Department --</mat-option>
                                <mat-option
                                 [value]="d.name" *ngFor="let d of departmentList"> {{d.name}}</mat-option>
                                    
                                  

                            </mat-select>    
                        </mat-form-field>    
                    </td> 
                </tr>        
               
                <tr>    
                    
                    <td>   
                        <mat-form-field>    
                            <mat-select placeholder="Select Age" 
                            id="age" name="age" formControlName="age"
                            >      
                                <mat-option *ngFor="let item of ages" value={{item}} >{{item}}</mat-option>    
                             
                            </mat-select>    
                        </mat-form-field>    
                    </td> 
                    <td>    
                        <span>Gender&nbsp;</span> 
                        <mat-radio-group >  
                            <input type="radio" value="male"  name="gender" formControlName="gender"> Male
                            <input type="radio" value="female"  name="gender" formControlName="gender"> Female   
                        </mat-radio-group>    
                    </td>   
                </tr>    
                   
                <tr>    
                     <td colspan="2">
                        <mat-form-field >
                            <mat-label>Enter Address</mat-label>
                            <textarea
                            id="address" name="address" formControlName="address"
    
                            
                            matInput placeholder="Enter full Address"></textarea>
                          </mat-form-field>
                     </td>
                </tr>   
                <tr  *ngIf="deptName!='Finance'">     
                    <td colspan="2">
                        <mat-label>Known Technology</mat-label>
                      <br>
                        <div>
                              <div class="form-group">
                                <input type="checkbox"
                             formControlName="technology"
                             [(ngModel)]="tech"
                                name="technology" id="html"  (change)="onCheckChange($event)" value="HTML">
                                <label for="html">HTML</label>
                              </div>
                              <div class="form-group">
                                <input type="checkbox" (change)="onCheckChange($event)"   formControlName="technology"
                                name="technology" id="css" value="CSS">
                                <label for="css">CSS</label>
                              </div>
                              <div class="form-group">
                                <input type="checkbox" formControlName="technology"
                                (change)="onCheckChange($event)" 
                                name="technology" id="javascript" value="Javascript">
                                <label for="javascript">Javascript</label>
                              </div>
                          </div>
                      
                    </td>
               </tr>    
                <tr>    
                    <td colspan="2" class="content-center">    
                        <button
                        mat-raised-button color="accent"
                        type="submit" [disabled]="!contactForm.valid">Submit</button>
                    </td>    
                </tr>    
            </table>    
        </form>    
    </mat-card-content>    
</mat-card>